# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/storage.rules
/firestore.rules
/firestore.indexes.json
/firebase.json
/.firebaserc
/functions/.eslintrc.js
/.idea/.gitignore
/functions/.gitignore
/.firebase/hosting.YnVpbGQ.cache
/.idea/modules.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/the-herbivorous-grill.iml
/functions/tsconfig.dev.json
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/webResources.xml
