.category-item
  @include cardContentGrid
  background-color: $backgorund-2
  border-radius: 16px
  width: 17rem
  height: 20rem

  .text-box
    display: grid
    justify-content: center
    max-width: 800px
    margin: $space-medium auto
    row-gap: $space-small

    h1
      color: $primary
      font-weight: 500


