.category-item
  display: grid
  justify-items: center
  .text-box
    padding: 0 $space-large
    display: grid
    justify-content: center
    max-width: 800px
    margin: $space-medium auto
    row-gap: $space-large
    column-gap: $space-large