.category-item
  background-color: $backgorund-2
  border-radius: 16px
  overflow: hidden

  img
    width: 100%
    height: 100%
    object-fit: cover

  .text-box
    display: grid
    width: 100%
    margin: 0
    row-gap: $space-small


    h1
      color: $primary
      font-weight: 500

  .btn-secondary
      text-align: center
      vertical-align: center

