footer
  background-color: $dark
  height: 9rem
  width: 100%

  .content
    height: 100%
    width: 100%
    align-items: center

    p
      color: $primary-light
      padding: 0.8rem
      text-align: center

    ul
      display: flex
      justify-content: center
      margin: 0
      padding: $space-small

      li
        padding: $space-x-small $space-small




