#home
  margin: 0 auto
  height: 95vh
  display: grid
  row-gap: $space-medium

  .hero-background
    position: absolute
    height: 95vh
    width: 100%
    object-fit: cover
    opacity: .5

  .brand
    max-width: 100%
    width: 7rem
    height: 7rem
    position: relative
    display: flex
    flex-direction: column
    background-color: transparent
    justify-content: center
    align-items: center
    border-radius: 100%
    border: 3px solid $white
    margin: $space-medium auto
    padding: 0
    img
      position: relative
      width: 3rem
      max-width: 4rem
      height: auto
      padding: $space-x-small
    &-name
      margin: 0
      width: 80%
      height: auto
      font-weight: 500
      color: $white
      text-align: center
      font-size: .8rem
