#admin-dashboard
  padding-top: $space-large
  row-gap: $space-large
  margin: 0 auto
  @include sectionGrid

  ul
    @include cardGrid
    .edit-container
      @include cardContentGrid
      width: 20rem
      height: 100%
      background-color: transparent
      align-content: center
      border: 0.3rem dashed $primary-light
      padding: 0
    .btn-container
      padding: 0 $space-medium $space-medium
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
    .btn
      width: 100%
      margin: $space-x-small 0
    .category-item
      background-color: transparent
      border-radius: 0
      padding-bottom: 0
      @include cardContentGrid
      img
        width: 100%
        height: 100%
      .text-box
        width: 100%
      .btn-secondary
        display: none

.admin-products
  background-color: $backgorund-3
  @include sectionGrid

.admin-list
  @include cardGrid
  align-items: end
  width: 100%
  .edit-container
    width: 20rem
    height: 100%
    background-color: $backgorund-3
    align-content: center
    border: 0.3rem dashed $primary-light
    padding: 0
    @include cardContentGrid
    .product-item
      @include cardContentGrid
      .card
        display: none
    img
      opacity: 1
      height: 100%
      width: 100%
      object-fit: scale-down
    .text-box
      display: grid
      width: 100%
      margin: 0
      row-gap: $space-small
      text-align: center
    .btn-secondary
      display: none
    h2
      color: $white
      font-weight: 600
      text-transform: capitalize

#admin-product
  width: 100%
  height: auto
  min-height: 95vh
  display: grid
  justify-items: center
  form
    display: grid
    justify-items: center
    width: 20rem
    height: auto
    background-color: $backgorund-3
    align-content: center
    border: 0.3rem dashed $primary-light
    padding: 0
  img
    width: 100%
    height: 100%

