#menu
  background-color: $backgorund-1
  display: grid
  justify-content: center

  img
    width: 100%
    height: auto
    object-fit: cover
    overflow: hidden
    max-height: 500px
    position: relative
    max-width: 1024px
    padding: 0

  ul
    @include cardGrid
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))






